<header class="page-header" role="banner">
  <h1 class="Data-Driven Safety Prioritization for NYC">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
  <h2 class="Telco Customer Churn">{{ page.description | default: site.description }}</h2>
  <h3 class="Coming Soon">{{ page.title | default: site.title | default: site.github.repository_name }}</h3>
  
  <nav class="main-nav">
    <ul>
      {% for item in site.data.navigation %}
        <li>
          <a href="{{ item.link }}" 
             class="{% if page.url == item.link %}active{% endif %}">
            {{ item.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
  {% endif %}
</header>
