---
---

<header class="page-header" role="banner">
  <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ page.description | default: site.description }}</h2>

  <nav class="main-nav">
    <ul>
      {% for item in site.data.navigation %}
        <li>
          <a href="{{ item.link }}" 
             class="{% if page.url == item.link or page.url == item.link | append: 'index.html' %}active{% endif %}">
            {{ item.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
  {% endif %}
</header>
